DOCTYPE
	html(lang="en")
		head
			meta(charset="utf-8")
			meta(name="viewport", content="width=device-width, initial-scale=1.0")
			meta(name="description", content="")
			meta(name="author", content="")
			title Flat theme
			link(href="jade/css/font-awesome.min.css", rel="stylesheet")
			
			link(href="jade/css/estilos.sass", rel="stylesheet")
			link(href="jade/css/estilos.css", rel="stylesheet")
			
			link(type="text/css", rel="stylesheet", href="../materialize/css/materialize.min.css")  
			link(type="text/css", rel="stylesheet", href="../materialize/css/materialize.css")
			link(rel="shortcut icon", href="images/ico/favicon.ico")
			link(rel="apple-touch-icon-precomposed", sizes="144x144", href="images/ico/apple-touch-icon-144-precomposed.png")
			link(rel="apple-touch-icon-precomposed", sizes="114x114", href="images/ico/apple-touch-icon-114-precomposed.png")
			link(rel="apple-touch-icon-precomposed", sizes="72x72", href="images/ico/apple-touch-icon-72-precomposed.png")
			link(rel="apple-touch-icon-precomposed", href="images/ico/apple-touch-icon-57-precomposed.png")
			link(href="https://fonts.googleapis.com/icon?family=Material+Icons",rel="stylesheet")
			link(href="https://fonts.googleapis.com/css?family=Open+Sans:400,600%7CRoboto:300,400,500", rel="stylesheet", media="all")
		body
			header
				nav
					div.nav-wrapper.container
						a(href="#").brand-logo
						a(href="#").mobile-demo.button-collapse
						img(src="../images/logo.png")
						ul#nav-mobile.right.hide-on-med-and-down
							li
								a(href="index.html") Home
							li
								a(href="about-us.html") About Us
							li
								a(href="services.html") Services
							li
								a(href="portfolio.html") Portfolio
							li
								a(href="blog.html") Blog
							li
								a(href="contact-us.html") Contact
			section
				div.container
					div.row
						div.col.s6
							h5 Blog Item
							p Pallentesque habitant mobi tristique et neus et malesuada
						div.col.s6
							strong Home / Pages/ Blog Item
			section
				div.container
					div.row
						div.col.s8
							div.row
								div.col.s12
									div.card-image
										img(src="../images/blog/blog2.jpg").responsive-img
										h5 Conubia nostra per inceptos himenaeos
										span.icon-user John
										span.icon-folder-close Bootstrap
										span.icon-calendar Sept 16th, 2012
										span.icon-comment 0 comments
										h6 <strong> Proin gravida nibh vel velit auctor aliquet. Aenean solicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amt dibh vulpatate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non mauris vitae erat consequat auctor eu in elit. Class aptent teciti sociosqu ad litora torquent per conubia nostra, pero inceptos himenaeos.
										p Li Europan lingues es membres del sam familie. Lor separat existentie es un myth. Por scientie, musica, sport etc, litot Europa usa li sam vocabular. Li lingues differe solmen in li grammatica, li pronunciation e li plu commun vocabules. Omnicos directe al desirabilite de un nov lingua franca: On refusa continuar payar custosi traductores. At solmen va esser necessi far uniform grammatica, pronunciation e plu sommun paroles. Ma quande lingues coalesce, li grammatica del resultant lingue es plu simplic e regulari quam ti del coalescent lingues. 
										p Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
										hr
										span: i.material-icons style
										div.chip
											p css3
										div.chip
											p HTML5
										div.chip
											p Wordpress
										div.chip
											p Joomla
										div.row
											div.col.s2
												img(src="../images/blog/avatar.jpg")
											div.col.s10
												span.title John Doe
												p Pallentesque habitant mobi tristique et neus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugit vitae, ultricies eget, tempor sirt amet, ante.
										h5 3 Comments
										div.row
											div.col.s2
												img(src="../images/blog/avatar1.png").circle
											div.col.s10
												span.title John Doe
												i.material-icons replay
												p Pallentesque habitant mobi tristique et neus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugit vitae, ultricies eget, tempor sirt amet, ante.
										div.row
											div.col.s3
												img(src="../images/blog/avatar3.png").circle
											div.col.s9
												span.title John Doe
												p 27 Aug 2013
												i.material-icons replay
												p Pallentesque habitant mobi tristique et neus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugit vitae, ultricies eget, tempor sirt amet, ante
										div.row
											div.col.s2
												img(src="../images/blog/avatar2.png").circle
											div.col.s10
												span.title John Doe
												i.material-icons replay
												p Pallentesque habitant mobi tristique et neus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugit vitae, ultricies eget, tempor sirt amet, ante.
										h5 Leave a comment
										div.row
											div.col.s6
												form
													imput(type="text", placeholder="Name")
											div.col.s6
												form
													input(type="text", placeholder="Email")
										div.row
											div.col.s12
												form
													textarea(type="text") Comment
												a(type="submit").waves-effect.waves-light.btn.red submit comment
						div.col.s4
							div.row
								nav
									div.nav-wrapper
										form
											div.input-field
												input(type="search")#search
												label(for="search") Enter your mail
												i.mateial-icons search
							div.row
								div.col.s6
									img(src="../images/ads/ad1.png")
								div.col.s6
									img(src="../images/ads/ad2.png")
							div.row
								div.col.s6
									img(src="../images/ads/ad3.png")
								div.col.s6
									img(src="../images/ads/ad4.png")
							h5 Blog Categories
							div.row
								div.col.s6
									ul
										li Development
										li Design
										li Updates
										li Tutoiral
										li News
								div.col.s6
									ul
										li Joomla
										li Wordpress
										li Drupal
										li Magento
										li Bootstrap
							div.row
								div.col.s12
									h5 Tag Cloud
									div.chip
										p CSS3
									div.chip
										p HTML5
									div.chip
										p Wordpress
									div.chip
										p Joomla
									div.chip
										p Drupal
									div.chip
										p Bootstrap
									div.chip
										p jQuery
									div.chip
										p Tutorial
									div.chip
										p Update
									h5 Facebook Fanpage

			section.blue-grey.darken-2.padd-secc
				div.container
					div.row.white-text
						div.col.s3
							p About Us
							p.thin.font12 Pallentesque habitant mobi tristique et neus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugit vitae. <br> Pallentesque habitant mobi tristique et neus et malesuada fames ac turpis egestas.
						div.col.s2
							p Company
							ul.thin.font12
								li: a(href="x") Company Overview
								li: a(href="x") Meet the Team
								li: a(href="x") Our Awesome Partners
								li: a(href="x") Our Services
								li: a(href="x") Frequently Asked Questions 
								li: a(href="x") Contact Us
								li: a(href="x") Privacy Policy
								li: a(href="x") Terms of Use
								li: a(href="x") Copyright
						div.col.s4
							p Latest Blog
							div.row
								div.col.s2
									img(src="../images/blog/thumb1.jpg").right5
								div.col.s10.thin.font12
									p.left25.top Pallentesque habitant mobi tristique 
									span Posted 17 Aug 2013
								div.col.s2
									img(src="../images/blog/thumb2.jpg").right5
								div.col.s10.thin.font12
									p.left25.top Pallentesque habitant mobi tristique 
									span Posted 17 Aug 2013
								div.col.s2
									img(src="../images/blog/thumb3.jpg").right5
								div.col.s10.thin.font12
									p.left25.top Pallentesque habitant mobi tristique 
									span Posted 17 Aug 2013
						div.col.s3
							p Adress
							strong Twitter, Inc.
							p.thin.font12 795 Folson Ave, Suite 600 <br> San Francisco, CA 94107 <br> P:(123) 456-7890
							p Newsletter
							nav
								div.nav-wrapper
									form
										div.input-field
											input#search
											label Enter your Email
											i.material-icons send

			footer.blue-grey.darken-2.white-text.thin
				div.container
					div.row
						div.col.s6
							p © 2013 ShapeBootsrap. All Rights Reserved
						div.col.s6
							nav
								div.nav-wrapper
									ul#nav-mobile.right.hide-on-med-and-down
										li: a(href="index.html") Home
										li: a(href="about-us.html") About Us
										li: a(href="contact-us.html") Contact Us
										li: a(href="x").material-icons expand_less

		script(type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js")
		script(type="text/javascript" src="../materialize/js/materialize.min.js")
		script(src="js/main.js")
		
		script(src="js/script.js")